.u-df {
    display: flex;
}

.u-main-frame {
    max-width: 1296px;
    margin: 0 auto;
}

@media(max-width: 1360px) {
    .u-main-frame {
        max-width: 100%;
        padding-right: 32px;
        padding-left: 32px;
        margin: 0;
    }
}

@media(max-width: 767px) {
    .u-main-frame {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0;
    }
    .u-main-frame--no-padding {
        padding-left: 0;
        padding-right: 0;
    }
}
