<nav class="b-common-nav u-main-frame u-df u-main-frame--no-px">
    <h1 class="b-common-nav__title">Glasses</h1>
    <!-- <img src="../assets/image/logo-white.png" alt=""> -->
    <ul class="b-common-nav__nav-bar u-df">
        <li class="b-common-nav__nav-item"><a href="#">系列鏡框</a></li>
        <li class="b-common-nav__nav-item"><a href="#">門市據點</a></li>
        <li class="b-common-nav__nav-item"><a href="#">部落格</a></li>
        <li class="b-common-nav__nav-item"><a href="#">常見問題</a></li>
    </ul>
</nav>