<div class="b-blog-nav">
    <div class="b-blog-nav__wrap u-main-frame u-df">
        <ul class="b-blog-nav__nav-bar u-df">
            <li class="b-blog-nav__nav-item"><a href="">最新消息</a></li>
            <li class="b-blog-nav__nav-item"><a href="">最新消息</a></li>
            <li class="b-blog-nav__nav-item"><a href="">最新消息</a></li>
            <li class="b-blog-nav__nav-item"><a href="">鏡框小知識</a></li>
        </ul>
        <a href="" class="b-blog-nav__search"><span class="material-icons-outlined">search</span></a>
    </div>
    
</div>