<nav class="b-common-nav u-main-frame u-df u-main-frame--mobile-no-px">
    <h1 class="b-common-nav__title"><a href="./index.html"></a>Glasses</a></h1>
    <ul class="b-common-nav__nav-bar u-df">
        <li class="b-common-nav__nav-item"><a href="./optical.html">系列鏡框</a></li>
        <li class="b-common-nav__nav-item"><a href="./stores.html">門市據點</a></li>
        <li class="b-common-nav__nav-item"><a href="./blogs.html">部落格</a></li>
        <li class="b-common-nav__nav-item"><a href="./faq.html">常見問題</a></li>
    </ul>
</nav>