<ul class="b-pager u-df">
    <li class="b-pager__page b-pager__pre"><a href="">上一頁</a></li>
    <li class="b-pager__page"><a href="">1</a></li>
    <li class="b-pager__page b-pager__page--active"><a href="">2</a></li>
    <li class="b-pager__page"><a href="">3</a></li>
    <li class="b-pager__page"><a href="">4</a></li>
    <li class="b-pager__page"><a href="">5</a></li>
    <li class="b-pager__page b-pager__next"><a href="">下一頁</a></li>
</ul>