.l-header-area {
    background: $primary;
}

.b-common-nav {
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.b-common-nav__title {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true');
    background-size: 80px auto;
    width: 80px;
    height: 48.57px;
}

.b-common-nav__nav-item {
    font-size: 20px;
    color: #fff;
    margin-left: 64px;
    &:first-child {
        margin-left: 0;
    }
}

// @media(max-width: 1295px) {

// }


@media(max-width: 767px) {
    .b-common-nav {
        flex-direction: column;
        padding-bottom: 0;
        gap: 15.43px;align-items: flex-start;
        padding-top: 16px;
    }

    .b-common-nav__title {
        margin-left: 15px;
    }

    .b-common-nav__nav-bar {
        width: 100%;
        flex-wrap: wrap;
    }

    .b-common-nav__nav-item {
        margin: 0;
        width: 50%;
        border: 1px solid #fff;
        padding: 12px 0;
        a {
            display: block;
            text-align: center;
        }
    }
}