.l-header-area {
    background-color: $primary;
}

.b-common-nav {
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.b-common-nav__title {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    // background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true');
    background-image: url('../image/logo-white.png'); // path start from all.scss
    background-size: 80px auto;
    width: 80px;
    height: 48.57px;
}

.b-common-nav__nav-item {
    font-size: 20px;
    color: $white;
    margin-left: 64px;
    &:first-child {
        margin-left: 0;
    }
    &:hover {
        color: $black-2;
    }
}

.b-banner {
    background-image: url('../image/home-header.png'); // path start from all.scss
    background-size: cover;
    background-position: center;
}

.b-banner__content {
    padding-top: 296px;
    padding-bottom: 296px;
    flex-direction: column;
    align-items: flex-end;
    color: $secondary;
}

.b-banner__sub-title {
    font-size: 36px;
}

.b-banner__title {
    font-size: 64px;
    margin-bottom: 4px;
}

.b-banner__buy-link {
    display: block;
    background-color: $primary;
    color: $white;
    padding: 6px 12px;
    font-size: 20px;
    &:hover {
        background-color: $black-2;
    }
}

@media(max-width: 1360px) {
    .b-banner {
        background-image: url('../image/home-header-sm.png'); // path start from all.scss
        background-size: cover;
        background-position: center;
    }
}

@media(max-width: 767px) {
    .b-common-nav {
        flex-direction: column;
        padding-bottom: 0;
        gap: 15.43px;align-items: flex-start;
        padding-top: 16px;
    }

    .b-common-nav__title {
        margin-left: 15px;
    }

    .b-common-nav__nav-bar {
        width: 100%;
        flex-wrap: wrap;
    }

    .b-common-nav__nav-item {
        margin: 0;
        width: 50%;
        border: 1px solid $white;
        padding: 12px 0;
        a {
            display: block;
            text-align: center;
        }
    }

    // .b-banner {
    //     background-image: url('../image/home-header-sm.png'); // path start from all.scss
    //     background-size: cover;
    //     background-position: center;
    // }

    .b-banner__content {
        padding-top: 144px;
        padding-bottom: 144px;
    }

    .b-banner__sub-title {
        font-size: 16px;
    }
    
    .b-banner__title {
        font-size: 24px;
        margin-bottom: 8px;
        font-weight: 700;
    }
}