/* Header */
.l-header-area {
    background-color: $primary;
}

/* Common Nav*/
.b-common-nav {
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}
@include Mobile {
    .b-common-nav {
        flex-direction: column;
        padding-bottom: 0;
        gap: 15.43px;align-items: flex-start;
        padding-top: 16px;
    }
}

.b-common-nav__title {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;background-image: url('../image/logo-white.png'); // path start from all.scss
    background-size: contain;
    width: 80px;
    height: 48.57px;
    &:hover {
        cursor: pointer;
    }
    a {
        display: block;
    }
}
@include Mobile {
    .b-common-nav__title {
        margin-left: 15px;
    }
}

@include Mobile {
    .b-common-nav__nav-bar {
        width: 100%;
        flex-wrap: wrap;
    }
}

.b-common-nav__nav-item {
    font-size: 20px;
    color: $white;
    margin-left: 64px;
    &:first-child {
        margin-left: 0;
    }
    &:hover {
        color: $black-2;
    }
}
@include Mobile {
    .b-common-nav__nav-item {
        margin: 0;
        width: 50%;
        border: 1px solid $white;
        padding: 12px 0;
        a {
            display: block;
            text-align: center;
        }
    }
}

/* Banner */
.b-banner {
    background-image: url('../image/home-header.png'); // path start from all.scss
    background-size: cover;
    background-position: center;
}
@include Mobile {
    .b-banner {
        background-image: url('../image/home-header-sm.png'); // path start from all.scss
    }
}

.b-banner__content {
    padding-top: 296px;
    padding-bottom: 296px;
    flex-direction: column;
    align-items: flex-end;
    color: $secondary;
}
@include Mobile {
    .b-banner__content {
        padding-top: 144px;
        padding-bottom: 144px;
    }
}

.b-banner__sub-title {
    font-size: 36px;
}
@include Mobile {
    .b-banner__sub-title {
        font-size: 16px;
    }
}

.b-banner__title {
    font-size: 64px;
    margin-bottom: 4px;
}
@include Mobile {
    .b-banner__title {
        font-size: 24px;
        margin-bottom: 8px;
        font-weight: 700;
    }
}

.b-banner__buy-link {
    display: block;
    background-color: $primary;
    color: $white;
    padding: 6px 12px;
    font-size: 20px;
    &:hover {
        background-color: $black-2;
    }
}

/* Product Nav*/
.b-product-nav {
    background-color: $white;
}

.b-product-nav__nav-item {
    width: calc(100% / 3);
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    border-color: $gray-3;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    a {
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
    }
}
@include Pad {
    .b-product-nav__nav-item {
        font-size: 24px;
        a {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}
@include Mobile {
    .b-product-nav__nav-item {
        font-size: 16px;
    }
}

.b-product-nav__nav-item--active {
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
    a {
        padding-bottom: 16px;
    }
}
@include Pad {
    .b-product-nav__nav-item--active {
        a {
            padding-bottom: 8px;
        }
    }
}

.b-product-nav__banner-img{
    height: 296px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}
@include Mobile {
    .b-product-nav__banner-img{
        height: 136px;
    }
}

.b-product-nav__banner-img--optical-left {
    background-image: url('../image/product-header-1.png');
}
.b-product-nav__banner-img--optical-right {
    background-image: url('../image/product-header-2.png');
}

.b-product-nav__banner-img--sunglasses-left {
    background-image: url('../image/product-header-3.png');
}
.b-product-nav__banner-img--sunglasses-right {
    background-image: url('../image/product-header-4.png');
}
@include Pad {
    .b-product-nav__banner-img--optical-left {
        background-image: url('../image/product-header-sm-1.png');
    }
    .b-product-nav__banner-img--optical-right {
        background-image: url('../image/product-header-sm-2.png');
    }
    .b-product-nav__banner-img--sunglasses-left {
        background-image: url('../image/product-header-sm-3.png');
    }
    .b-product-nav__banner-img--sunglasses-right {
        background-image: url('../image/product-header-sm-4.png');
    }
}

/* Blog Nav */
.b-blog-nav {
    background-color: $secondary;
}

.b-blog-nav__wrap {
    font-weight: 700;
    font-size: 20px;
    color: $white;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
    align-items: center;
}
@include Mobile {
    .b-blog-nav__wrap {
        font-size: 16px;
        color: $white;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
    }
}

@include Mobile {
    .b-blog-nav__nav-bar {
        width: 100%;
        justify-content: space-between;
    }
}

.b-blog-nav__nav-item {
    margin-right: 48px;
    &:last-child {
        margin-right: 0;
    }
}
@include Mobile {
    .b-blog-nav__nav-item {
        margin-right: 0px;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
        }
    }
}

.b-blog-nav__search .material-icons-outlined {
    font-size: 24px;
    vertical-align: middle;
}

@include Mobile {
    .b-blog-nav__search {
        display: none;
    }
}