/* Intro Area */
.b-intro-area {
    background-color: $pink;
    color: $secondary;
    padding-top: 80px;
    padding-bottom: 80px;
}
@include Pad {
    .b-intro-area {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.b-intro-area__section-title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 32px;
}
@include Mobile {
    .b-intro-area__section-title {
        font-size: 24px;
    }
}

.b-intro-area__feature-list {
    gap: 24px;
    justify-content: space-between;
}
@include Pad {
    .b-intro-area__feature-list {
        flex-wrap: wrap;
        gap: 36px 24px;
    }
}
@include Mobile {
    .b-intro-area__feature-list {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 32px;
    }
}

@include Pad {
    .b-intro-area__feature {
        width: calc((100% - 24px) / 2);
    }
}
@include Mobile {
    .b-intro-area__feature {
        width:100%;
    }
}

.b-intro-area__icon {
    font-size: 80px;
    text-align: center;
    display: block;
    margin-bottom: 28px;
}

.b-intro-area__sub-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
}

.b-intro-area__text {
    color: $black-1;
}

/* Classic Glasses */
.b-classic-glasses {
    padding-top: 80px;
    padding-bottom: 80px;
}
@include Mobile {
    .b-classic-glasses {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.b-classic-glasses__section-title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 32px;
    color: $secondary;
}
@include Mobile {
    .b-classic-glasses__section-title {
        font-size: 24px;
    }
}

.b-classic-glasses__type-list {
    gap: 24px;
}
@include Pad {
    .b-classic-glasses__type-list {
        flex-direction: column;
        align-items: center;
    }
}

.b-classic-glasses__type {
    width: calc((100% - 48px) / 3);
    &:hover {
        .b-classic-glasses__photo {
            background-size: 110%;
        }
        .b-classic-glasses__name {
            color: $white;
            background-color: $secondary;
        }
    }
}
@include Pad {
    .b-classic-glasses__type {
        width: 50%;
    }
}
@include Mobile {
    .b-classic-glasses__type {
        width: 100%;
    }
}

.b-classic-glasses__full-link {
    display: block;
    width: 100%;
}

.b-classic-glasses__name {
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    color: $primary;
    padding-top: 8px;
}

.b-classic-glasses__photo {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    background-size: cover;
    background-position: center;
}

/* Co-branding */
.b-co-branding {
    background-image: url('../image/index-bg.png');
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
@include Pad {
    .b-co-branding {
        background-image: url('../image/index-bg-md.png');
    }
}
@include Mobile {
    .b-co-branding {
        background-image: url('../image/index-bg-sm.png');
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.b-co-branding__section-title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 32px;
    color: $white;
}
@include Mobile {
    .b-co-branding__section-title {
        font-size: 24px;
    }
}

.b-co-branding__type {
    width: 50%;
    &:hover {
        .b-co-branding__photo {
            background-size: 110%;
        }
        .b-co-branding_name {
            background-color: $secondary;
            color: $white;
        }
    }
}
@include Pad {
    .b-co-branding__type {
        width: 100%;
    }
}

@include Pad {
    .b-co-branding__list {
        flex-direction: column;
        gap: 24px;
    }
}

.b-co-branding__photo {
    width: 100%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 162 / 60;
}
@include Mobile {
    .b-co-branding__photo {
        aspect-ratio: 87 / 60;
    }
}

.b-co-branding__photo--left {
    background-image: url('../image/home-section4-1.png');
}
.b-co-branding__photo--right {
    background-image: url('../image/home-section4-2.png');
}
@include Mobile {
    .b-co-branding__photo--left {
        background-image: url('../image/home-section4-1-sm.png');
    }
    .b-co-branding__photo--right {
        background-image: url('../image/home-section4-2-sm.png');
    }
}

.b-co-branding_name {
    text-align: center;
    padding: 8px 0;
    background-color: $white;
    color: $primary;
    font-style: italic;
    font-weight: 900;
    font-size: 48px;
}

/* Recommend */
.b-recommend {
    padding-top: 80px;
    padding-bottom: 80px;
}
@include Mobile {
    .b-recommend {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.b-recommend__section-title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 32px;
    color: $secondary;
}
@include Mobile {
    .b-recommend__section-title {
        font-size: 24px;
    }
}

.b-recommend__list {
    gap: 24px;
}
@include Pad {
    .b-recommend__list {
        flex-wrap: wrap;
    }
}
@include Mobile {
    .b-recommend__list {
        flex-wrap: wrap;
    }
}

.b-recommend__item {
    width: calc((100% - 72px) / 4);
    border-radius: 4px;
    box-shadow: 0 2px 6px $gray-4;
    aspect-ratio: 306 / 511;
    // min-height: 511px;
    // height: 511px;
}
@include Pad {
    .b-recommend__item {
        width: calc((100% - 24px) / 2);
    }
}
@include Mobile {
    .b-recommend__item {
        width: 100%;
    }
}

.b-recommend__full-link {
    flex-direction: column;
    height: 100%;
}

// .b-recommend__photo-wrap {
//     aspect-ratio: 1;
//     height: auto;
//     display: block;
// }
@include Pad {
    .b-recommend__item {
        aspect-ratio: 336 / 511;
    }
}
@include Mobile {
    .b-recommend__item {
        aspect-ratio: 348 / 511;
    }
}


.b-recommend__text {
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.b-recommned__name {
    margin-bottom: 8px;
}

.b-recommend__date {
    color: $gray-6;
    font-size: 14px;
}


/* Contact Us */
.b-contact-us {
    background-color: $pink;
    padding-top: 80px;
    padding-bottom: 80px;
}

.b-contact-us__content {
    width: 50%;
    margin: 0 auto;
}
@include Pad {
    .b-contact-us__content {
        width: 75%;
    }
}
@include Mobile {
    .b-contact-us__content {
        width: 100%;
    }
}

.b-contact-us__title {
    color: $secondary;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 48px;
}
@include Mobile {
    .b-contact-us__title {
        font-size: 24px;
    }
}

.b-contact-us__description {
    font-size: 20px;
    margin-bottom: 24px;
}
@include Mobile {
    .b-contact-us__description {
        font-size: 16px;
    }
}

.b-contact-us__area {
    margin-bottom: 16px;
}

.b-contact-us__label {
    display: block;
    margin-bottom: 8px;
}

.b-contact-us__input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    outline: none;
    border: 1px solid $black-1;
    background-color: $pink;
    
    &[type='checkbox'] {
        accent-color: $pink;
    }

}

.b-contact-us__policy-area {
    margin-bottom: 48px;
}
@include Mobile {
    .b-contact-us__policy-area {
        margin-bottom: 24px;
    }
}

.b-contact-us__input-policy {
    position: relative;
    outline: none;
    &::after {
        border: 1px solid $black-1;
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        background-color: $pink;
        border-radius: 2px;
        font-family: "Material Icons";
        font-size: 8px;
        font-weight: 700;
        color: fieldtext;
    }
    &:checked::after {
        content: '\e876';
    }
}

.b-contact-us__input-advice {
    resize: none;
}

.b-contact-us__input-submit {
    display: block;
    text-align: center;
    outline: none;
    border: none;
    width: 60%;
    background-color: $primary;
    margin: 0 auto;
    color: $white;
    line-height: 1.5;
    padding: 16px 0;
    &:hover {
        cursor: pointer;
        background-color: $secondary;
    }
}
@include Mobile {
    .b-contact-us__input-submit {
        width: 100%;
    }
}

