<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glasses - 部落格</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet"/>
</head>
<body>
    <header class="l-header-area">
        <%- include('./layout/header_common-nav.ejs'); -%>
    </header>
    <%- include('./layout/footer.ejs'); -%>
</body>
</html>