<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="../assets/scss/all.scss"> -->
    <title>Glasses</title>
</head>
<body>
    <header class="l-header-area">
        <%- include('./layout/header_common-nav.ejs'); -%>
        <div class="b-banner">
            <div class="b-banner__content u-main-frame u-df">
                <p class="b-banner__sub-title">Promise-Desert 2020 早春系列</p>
                <p class="b-banner__title">看得清，才能看得遠</p>
                <a href="#" class="b-banner__buy-link">立即購買</a>
            </div>
        </div>
    </header>
    
    <main class="l-main-area">

        <div class="b-intro-area">
            <h2 class="b-intro-area__section-title u-main-frame">用專業的心，做專業的事</h2>
            <ul class="b-intro-area__feature-list u-df u-main-frame">
                <li class="b-intro-area__feature">
                    <span class="material-icons-outlined b-intro-area__icon">monetization_on</span>
                    <h3 class="b-intro-area__sub-title">單一價格</h3>
                    <p class="b-intro-area__text">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                </li>
                <li class="b-intro-area__feature">
                    <span class="material-icons-outlined b-intro-area__icon">schedule</span>
                    <h3 class="b-intro-area__sub-title">20 分鐘即可取件</h3>
                    <p class="b-intro-area__text">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                </li>
                <li class="b-intro-area__feature">
                    <span class="material-icons-outlined b-intro-area__icon">favorite_border</span>
                    <h3 class="b-intro-area__sub-title">安心售後服務</h3>
                    <p class="b-intro-area__text">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                </li>
                <li class="b-intro-area__feature">
                    <span class="material-icons-outlined b-intro-area__icon">voicemail</span>
                    <h3 class="b-intro-area__sub-title">關於鏡片</h3>
                    <p class="b-intro-area__text">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </li>
            </ul>
        </div>

        <div class="b-classic-glasses">
            <h2 class="b-classic-glasses__section-title u-main-frame">經典系列鏡框</h2>
            <ul class="b-classic-glasses__type-list u-main-frame u-df">
                <li class="b-classic-glasses__type">
                    <a href="./optical.html" class="b-classic-glasses__full-link">
                        <div class="b-classic-glasses__photo" style="background-image: url(../assets/image/home-section3-1.png);"></div>
                        <h3 class="b-classic-glasses__name">OPTICAL</h3>
                    </a>
                </li>
                <li class="b-classic-glasses__type">
                    <a href="./sunglasses.html" class="b-classic-glasses__full-link">
                        <div class="b-classic-glasses__photo" style="background-image: url(../assets/image/home-section3-2.png);"></div>
                        <h3 class="b-classic-glasses__name">SUNGLASSES</h3>
                    </a>
                </li>
                <li class="b-classic-glasses__type">
                    <a href="" class="b-classic-glasses__full-link">
                        <div class="b-classic-glasses__photo" style="background-image: url(../assets/image/home-section3-3.png);"></div>
                        <h3 class="b-classic-glasses__name">FUNCTIONAL</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="b-co-branding">
            <h2 class="b-co-branding__section-title u-main-frame">聯名設計鏡框</h2>
            <ul class="b-co-branding__list u-main-frame u-df">
                <li class="b-co-branding__type">
                    <a href="" class="b-co-branding__full-link">
                        <div class="b-co-branding__photo b-co-branding__photo--left"></div>
                        <h3 class="b-co-branding_name">DOUBLE A+</h3>
                    </a>
                </li>
                <li class="b-co-branding__type">
                    <a href="" class="b-co-branding__full-link">
                        <div class="b-co-branding__photo b-co-branding__photo--right"></div>
                        <h3 class="b-co-branding_name">YOUTH</h3>
                    </a>
                </li>
            </ul>
        </div>

        <div class="b-recommend">
            <h2 class="b-recommend__section-title u-main-frame">顧客推薦</h2>
            <ul class="b-recommend__list u-df u-main-frame">
                <li class="b-recommend__item">
                    <a href="./optical.html" class="b-recommend__full-link u-df">
                        <div class="b-recommend__photo-wrap"><img src="../assets/image/home-section5-1.png" alt="" class="b-recommend__photo"></div>
                        <div class="b-recommend__text u-df">
                            <div class="b-recommend__main">
                                <p class="b-recommend__name">Jessy</p>
                                <p class="b-recommend__review">眼鏡品質優良，下次還會想來這邊購買！</p>
                            </div>
                            <p class="b-recommend__date">2021/06/20</p>
                        </div>
                    </a>
                </li>
                <li class="b-recommend__item">
                    <a href="./optical.html" class="b-recommend__full-link u-df">
                        <div class="b-recommend__photo-wrap"><img src="../assets/image/home-section5-2.png" alt="" class="b-recommend__photo"></div>
                        <div class="b-recommend__text u-df">
                            <div class="b-recommend__main">
                                <p class="b-recommend__name">凱倫</p>
                                <p class="b-recommend__review">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                            </div>
                            <p class="b-recommend__date">2021/04/18</p>
                        </div>
                    </a>
                </li>
                <li class="b-recommend__item">
                    <a href="./optical.html" class="b-recommend__full-link u-df">
                        <div class="b-recommend__photo-wrap"><img src="../assets/image/home-section5-3.png" alt="" class="b-recommend__photo"></div>
                        <div class="b-recommend__text u-df">
                            <div class="b-recommend__main">
                                <p class="b-recommned__name">悠悠</p>
                                <p class="b-recommend__review">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                            </div>
                            <p class="b-recommend__date">2020/12/25</p>
                        </div>
                    </a>
                </li>
                <li class="b-recommend__item">
                    <a href="./optical.html" class="b-recommend__full-link u-df">
                        <div class="b-recommed__photo-wrap"><img src="../assets/image/home-section5-4.png" alt="" class="b-recommend__photo"></div>
                        <div class="b-recommend__text u-df">
                            <div class="b-recommend__main">
                                <p class="b-recommend__name">Kyuan</p>
                                <p class="b-recommend__review">服務很好，品質沒有任何問題，非常喜歡。</p>
                            </div>
                            <p class="b-recommend__date">2020/10/31</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <div class="b-contact-us">
            <div class="u-main-frame">
                <div class="b-contact-us__content">
                    <h2 class="b-contact-us__title">聯絡我們</h2>
                    <p class="b-contact-us__description">
                    我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
                    </p>
                    <form action="" class="b-contact-us__form">
                        <div class="b-contact-us__name-area b-contact-us__area">
                            <label class="b-contact-us__lable-name b-contact-us__label" for="name">姓名</label>
                            <input type="text" class="b-contact-us__input-name b-contact-us__input" id="name" placeholder="陳小明">
                        </div>
                        <div class="b-contact-us__phone-area b-contact-us__area">
                            <label class="b-contact-us__lable-phone b-contact-us__label" for="phone">聯絡電話</label>
                            <input type="tel" class="b-contact-us__input-phone b-contact-us__input" id="phone" placeholder="0912-345-678">
                        </div>
                        <div class="b-contact-us__mail-area b-contact-us__area">
                            <label class="b-contact-us__lable-mail b-contact-us__label" for="mail">電子郵件</label>
                            <input type="email" class="b-contact-us__input-mail b-contact-us__input" id="mail" placeholder="example@email.com">
                        </div>
                        <div class="b-contact-us__advice-area b-contact-us__area">
                            <label class="b-contact-us__lable-advice b-contact-us__label" for="advice">意見反應</label>
                            <textarea type="textarea" class="b-contact-us__input-advice b-contact-us__input" id="advice" placeholder="請輸入您的意見" rows="7"></textarea>
                        </div>
                        <div class="b-contact-us__policy-area b-contact-us__area">
                            <input type="checkbox" class="b-contact-us__input-policy " id="policy">
                            <label class="b-contact-us__lable-ploicy" for="policy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                        </div>
                        <input type="submit" class="b-contact-us__input-submit" id="submit" value="確認送出">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include('./layout/footer.ejs'); -%>
</body>
</html>