<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glasses - 門市據點</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet"/>
</head>
<body>
    <header class="l-header-area">
        <%- include('./layout/header_common-nav.ejs'); -%>
    </header>
    <main class="u-main-frame l-main--decoration-title">
        <h2 class="b-decoration-title">門市據點</h2>
        <div class="b-dropdown-filter u-df">
            <lable class="b-dropdown-filter__text" for="area-dropdown">選擇地區</lable>
            <select name="area" id="area-dropdown" class="b-dropdown-filter__dropdown">
                <option value="台北市">台北市</option>
                <option value="台中市">台中市</option>
                <option value="高雄市">高雄市</option>
            </select>
        </div>
        <ul class="b-store-list u-df">
            <li class="b-store-list__store">
                <img src="../assets/image/store-1.png" alt="store photo" class="b-store-list__photo">
                <p class="b-store-list__name">台北中山旗艦店</p>
                <div class="b-store-list__info">
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">call</span><span class="b-store-list__tel">電話：(02)000-1234</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">schedule</span><span class="b-store-list__time">營業時間：10:00-21:00</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">location_on</span><span class="b-store-list__addr">地址：台北市中山區南京東路25巷2-1號</span></div>
                </div>
                <a href="./store_TPZS.html" class="b-store-list__detail">詳細資訊</a>
            </li>
            <li class="b-store-list__store">       
                <img src="../assets/image/store-2.png" alt="store photo" class="b-store-list__photo">
                <p class="b-store-list__name">台北綠園店</p>
                <div class="b-store-list__info">
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">call</span><span class="b-store-list__tel">電話：(02)000-2345</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">schedule</span><span class="b-store-list__time">營業時間：10:00-21:00</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">location_on</span><span class="b-store-list__addr">地址：台北市中正區復興南路 132-1 號</span></div>
                </div>
                <a href="./store_TPZS.html" class="b-store-list__detail">詳細資訊</a>
            </li>
            <li class="b-store-list__store"> 
                <img src="../assets/image/store-3.png" alt="store photo" class="b-store-list__photo">
                <p class="b-store-list__name">台中清水旗艦店</p>
                <div class="b-store-list__info">
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">call</span><span class="b-store-list__tel">電話：(02)000-1234</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">schedule</span><span class="b-store-list__time">營業時間：10:00-21:00</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">location_on</span><span class="b-store-list__addr">地址：台中市清水區經南一路 23 號 8 樓</span></div>
                </div>
                <a href="./store_TPZS.html" class="b-store-list__detail">詳細資訊</a>
            </li>
            <li class="b-store-list__store">
                <img src="../assets/image/store-4.png" alt="store photo" class="b-store-list__photo">
                <p class="b-store-list__name">高雄中正形象店</p>
                <div class="b-store-list__info">
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">call</span><span class="b-store-list__tel">電話：(07)000-2345</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">schedule</span><span class="b-store-list__time">營業時間：10:00-21:00</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">location_on</span><span class="b-store-list__addr">地址：高雄市苓雅區中正路 38 號 12 樓</span></div>
                </div>
                <a href="./store_TPZS.html" class="b-store-list__detail">詳細資訊</a>
            </li>
            <li class="b-store-list__store">
                <img src="../assets/image/store-5.png" alt="store photo" class="b-store-list__photo">
                <p class="b-store-list__name">高雄夢時代店</p>
                <div class="b-store-list__info">
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">call</span><span class="b-store-list__tel">電話：(07)000-1234</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">schedule</span><span class="b-store-list__time">營業時間：10:00-21:00</span></div>
                    <div class="b-store-list__info-item u-df"><span class="material-icons-outlined">location_on</span><span class="b-store-list__addr">地址：高雄市前鎮區中華一路 63 號 6 樓</span></div>
                </div>
                <a href="./store_TPZS.html" class="b-store-list__detail">詳細資訊</a>
            </li>
        </ul>
    </main>
    <%- include('./layout/footer.ejs'); -%>
</body>
</html>