<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glasses - 太陽眼鏡</title>
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet"/>
</head>
<body>
    <header class="l-header-area">
        <%- include('./layout/header_common-nav.ejs'); -%>

        <div class="b-product-nav">
            <ul class="b-prodoct-nav__nav-bar u-main-frame u-main-frame--pad-no-px u-main-frame--mobile-no-px u-df">
                <li class="b-product-nav__nav-item"><a href="./optical.html">OPTICAL</a></li>
                <li class="b-product-nav__nav-item b-product-nav__nav-item--active"><a href="./sunglasses.html">SUNGLASSES</a></li>
                <li class="b-product-nav__nav-item"><a href="#">FUNCTIONAL</a></li>
            </ul>
            <div class="b-product-nav__banner b-product-nav__banner--sunglasses u-df">
                <div class="b-product-nav__banner-img b-product-nav__banner-img--sunglasses-left"></div>
                <div class="b-product-nav__banner-img b-product-nav__banner-img--sunglasses-right"></div>
            </div>
        </div>
        
    </header>
    <main class="u-main-frame l-main--product-title">
        <div class="b-product-title">
            <h2 class="b-product-title__main">2020 NEW COLLECTION</h2>
            <h3 class="b-product-title__sub">賽璐珞鈦金屬混合鏡框</h3>
        </div>
        <ul class="b-product-list b-product-list--big u-df">
            <li class="b-product-list__item b-product-list__item--big">
                <a href="#" class="b-product-list__product-link"><img src="../assets/image/product-7.png" alt="product image" class="b-product-list__product-img"></a>
                <div class="b-product-list__info u-df"><span class="b-product-list__serial">BJ41600S</span><span class="b-product-list__price">NTD3,490</span></div>
                <div class="b-product-list__colors u-df">
                    <div class="b-product-list__color b-product-list__color--color-1"></div>
                    <div class="b-product-list__color b-product-list__color--color-2"></div>
                </div>
            </li>
            <li class="b-product-list__item b-product-list__item--big">
                <a href="#" class="b-product-list__product-link"><img src="../assets/image/product-8.png" alt="product image" class="b-product-list__product-img"></a>
                <div class="b-product-list__info u-df"><span class="b-product-list__serial">BJ41600S</span><span class="b-product-list__price">NTD3,490</span></div>
                <div class="b-product-list__colors u-df">
                    <div class="b-product-list__color b-product-list__color--color-1"></div>
                    <div class="b-product-list__color b-product-list__color--color-2"></div>
                </div>
            </li>
            <li class="b-product-list__item b-product-list__item--big">
                <a href="#" class="b-product-list__product-link"><img src="../assets/image/product-9.png" alt="product image" class="b-product-list__product-img"></a>
                <div class="b-product-list__info u-df"><span class="b-product-list__serial">BJ41600S</span><span class="b-product-list__price">NTD3,490</span></div>
                <div class="b-product-list__colors u-df">
                    <div class="b-product-list__color b-product-list__color--color-1"></div>
                    <div class="b-product-list__color b-product-list__color--color-2"></div>
                </div>
            </li>
            <li class="b-product-list__item b-product-list__item--big">
                <a href="#" class="b-product-list__product-link"><img src="../assets/image/product-10.png" alt="product image" class="b-product-list__product-img"></a>
                <div class="b-product-list__info u-df"><span class="b-product-list__serial">BJ41600S</span><span class="b-product-list__price">NTD3,490</span></div>
                <div class="b-product-list__colors u-df">
                    <div class="b-product-list__color b-product-list__color--color-1"></div>
                    <div class="b-product-list__color b-product-list__color--color-2"></div>
                </div>
            </li>
            <li class="b-product-list__item b-product-list__item--big">
                <a href="#" class="b-product-list__product-link"><img src="../assets/image/product-11.png" alt="product image" class="b-product-list__product-img"></a>
                <div class="b-product-list__info u-df"><span class="b-product-list__serial">BJ41600S</span><span class="b-product-list__price">NTD3,490</span></div>
                <div class="b-product-list__colors u-df">
                    <div class="b-product-list__color b-product-list__color--color-1"></div>
                    <div class="b-product-list__color b-product-list__color--color-2"></div>
                </div>
            </li>
            <li class="b-product-list__item b-product-list__item--big">
                <a href="#" class="b-product-list__product-link"><img src="../assets/image/product-12.png" alt="product image" class="b-product-list__product-img"></a>
                <div class="b-product-list__info u-df"><span class="b-product-list__serial">BJ41600S</span><span class="b-product-list__price">NTD3,490</span></div>
                <div class="b-product-list__colors u-df">
                    <div class="b-product-list__color b-product-list__color--color-1"></div>
                    <div class="b-product-list__color b-product-list__color--color-2"></div>
                </div>
            </li>
        </ul>
        <%- include('./layout/pager.ejs'); -%>
    </main>
    <%- include('./layout/footer.ejs'); -%>
</body>
</html>